main {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: bisque; */
    overflow: hidden;
  }

  .pics {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .img {
    position: absolute;
    width: 200px;
    height: auto;
    transform: rotate(var(--angle));
    transition: transform 0.3s ease, z-index 0.2s ease;
    cursor: pointer;
  }

  #img-performing { top: 25%; left: 65%; --angle: 4deg; }
  #img-guitar { top: 70%; left: 45%; --angle: -5deg; }
  #img-nyc { top: 35%; left: 40%; --angle: -3deg; }

.journal {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #img-journal {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center;
    display: block;
  }

